$sliderWidth : 680px;
$sliderHeight : 390px;
$sliderColor : grey;
$buttonTop : 40%;
$buttonTopMobile : 35%;
$buttonHorizontalDistance :-45px;
$buttonHorizontalDistanceMobile: -25px;
@mixin SliderSize {
    width: $sliderWidth;
    height:$sliderHeight;
}
.slider-container {
    @include  SliderSize();
    margin: 0 auto;
    border: 2px solid $sliderColor;
    margin-top: 60px;
    overflow: hidden;
}

i {
    position: absolute;
    border-radius: 100%;
    color: $sliderColor;
    font-size: 30px;
}

.nextBtn {
    top: $buttonTop;
    right: $buttonHorizontalDistance;
}

.prevBtn {
    top: $buttonTop;
    left: $buttonHorizontalDistance;
}

.wrapper {
    width: 750px;
    position: relative;
    margin: 0 auto;
    text-align:center;
}

button {
    height: 10px;
    margin: 8px 10px 0px 10px;
}

.slider{
    transform:translateX(-$sliderWidth);
    display: flex;
    img {
        width:100%;
    }
    li {
        @include  SliderSize();
        flex-shrink: 0;
        flex-basis: 100%;
        list-style-type: none;
    }
}
